
  body {
    background-color: #2b0247;
    font-family: 'Press Start 2P', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card {
    background: linear-gradient(#3d0b61, #1a012c);
    color: white;
    border-radius: 15px;
    width: 310px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    padding: 20px;
    text-align: center;
    border: 3px solid #ff8ff3;
  }

  .titulo {
    font-size: 14px;
    color: #ffbdf7;
  }

  .missao {
    background-color: #ffbdf7;
    color: #3d0b61;
    padding: 8px;
    margin-top: 10px;
  }

  .avatar {
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 15px auto;
    background-size: cover;
    background-position: center;
    border: 2px solid #ffbdf7;
  }

  .info {
    text-align: left;
    margin: 0 25px;
    font-size: 12px;
  }

  .classe {
    background-color: #ffbdf7;
    color: #3d0b61;
    padding: 2px 8px;
    border-radius: 6px;
    font-weight: bold;
    display: inline-block;
  }

  .xp-barra {
    background-color: #fff;
    height: 12px;
    width: 100%;
    border-radius: 8px;
    margin-top: 8px;
  }

  .xp-preenchido {
    background-color: #ff7edb;
    height: 100%;
    width: 60%;
    border-radius: 8px;
  }

  .conquistas {
    margin-top: 20px;
    font-size: 10px;
  }

  .icone {
    font-size: 28px;
    margin: 6px;
  }