body{
    font-family: 'press Start 2P', cursive;
    background: #f8e6f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card{
    background: #f8f9fa;
    width: 350px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 6px 18px rgba(0,0,0,0,4);
}
.parte1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: #FFC8F3;
    padding: 14px;
    border-radius: 14px;
    margin-bottom: 14px;
}
.parte1 img{
    width: 28px;
    height: 28px;
}
h3{
    font-size: 19px;
    text-align: center;
    color: #FFC8F3;
    margin: 10px 0;
    line-height: 1.6;
}

.levelup{
    color: #f1e6a7;
    font-size: 19px;
}

.funcionario{
    display: flex;
    margin: 20px 0;
    align-items: center;
}

.avatar{
    width: 90px;
    height: 90px;
    border-radius: 12px;
    margin-right: 15px;
    background: #e6a1d7;
}

.dados p{
    margin: 9px 0 2px;
    font-size: 10px;
    color: #FFC8F3;


}

.campo{
    width: 180px;
    height: 27px;
    background: #e5e5e5;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 10px;
    color: #FFC8F3;
    display: flex;
    align-items: center;
    padding-left: 6px;
}

.xp{
    margin: 15px 0;
    font-size: 10px;
    display: flex;
    flex-direction: 6px;
}
.xp p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px ;
    color: #FFC8F3;
    
}

.barra{
    background: #ddd;
    border-radius: 8px;
    height: 14px;
    width: 100%;
    
}

.preenchido{
    background: #f1e6a7;
    height: 14px;
    width: 40%;
    border-radius: 8px;
}

.conquistas{
    margin-top: 20px;
    text-align: center;
}

.conquistas h4{
    font-size: 10px;
    margin-bottom: 12px;
    color: #FFC8F3;

}

.icons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icons img{ 
    width: 38px;
    height: 38px;
    
}
