body {
  margin: 0;
  background-color: #ffebf2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Comic Sans MS', cursive;
}

.map-container {
  position: relative;
  width: 1152px; /* tamanho da sua imagem */
  height: 768px;
}

.map-image {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
}

/* Estilo dos laços */
.bow {
  position: absolute;
  width: 60px;
  height: 40px;
  background: url('laço.png') no-repeat center/contain;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.bow:hover {
  transform: scale(1.2);
}

/* Posições ajustadas para as bolinhas rosas */
.bow1 {
  
  top: 62%;
  left: 50%;
}

.bow2 {
  top: 75%;
  left: 43%;
}

.bow3 {
  top: 37%;
  left: 60%;
}

.bow4 {
  top: 53%;
  left: 30%;
}
